@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500&display=swap");

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.small-font {
    font-size: 0.7rem;
}

.blue-color {
    color: #0e245d;
}

.blue-background {
    background-color: #0e245d;
}

.pink-background {
    background-color: #fffaf6;
}

.playfair-font {
    font-family: "Playfair Display", serif;
}

.nav-items {
    display: none;
}

.show {
    display: flex !important;
    flex-direction: column;
}

.hero {
    background-image: url(../images/hero.jpg);
    min-height: 40rem;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.room-next {
    right: 0%;
}

.hidden {
    display: none !important;
}

.animate {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.5;
        translate: 15px;
    }

    to {
        opacity: 1;
    }
}

button:hover {
    scale: 1.1;
}

@media (min-width: 768px) {
    .choose-icons {
        width: 30%;
    }

    .activities img {
        width: 50%;
    }

    .experience-icons {
        width: 40%;
    }

    .hello {
        background-image: url(../images/hello.jpg);
        min-height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 7rem;
    }

    .hello-text {
        width: 50%;
        position: absolute;
        right: 10%;
        top: 30%;
    }

    .review-icons {
        width: 40%;
    }

    .subscribe-email {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .welcome-images {
        width: 200vw;
    }

    .welcome-bbq {
        position: absolute;
        top: 10%;
        left: 48%;
        z-index: -1;
        width: 20%;
    }

    .welcome-lights {
        position: absolute;
        right: 10%;
        width: 25% !important;
        top: 30%;
        z-index: 0;
    }

    .welcome-cottage {
        position: absolute;
        right: 25%;
        width: 25% !important;
        top: 60%;
    }

    .room {
        margin-top: 8rem;
    }

    .room-beds {
        width: 85%;
    }

    .join {
        margin-top: 10rem !important;
        height: 44rem;
    }

    .join-left {
        width: 130%;
        margin-top: -5%;
    }

    .join-bridge {
        width: 60%;
        height: 44rem;
    }

    .join-jungle {
        width: 120%;
        height: 21.75rem;
    }

    .join-fern {
        width: 120%;
        height: 21.75rem;
    }

    .footer-top {
        width: 18%;
    }

    .footer-topleft {
        width: 26%;
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 55rem;
    }

    h1 {
        font-size: 4rem;
    }

    .welcome-cottage {
        top: 70%;
    }

    .experience-icons {
        width: 20%;
    }

    .hello {
        min-height: 50rem;
    }

    .hello-text {
        width: 28%;
    }

    .review-icons {
        width: 30%;
    }

    .location {
        width: 75%;
    }

    .footer {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}